<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
  <channel>
    <title>{{ config.site_title }}</title>
    <link>{{ config.base_url }}</link>
    <description>{{ config.site_description }}</description>
    {% for post in posts %}
    <item>
      <title>{{ post.title }}</title>
      <link>{{ config.base_url }}posts/{{ post.slug }}/</link>
      <guid isPermaLink="true">{{ config.base_url }}posts/{{ post.slug }}/</guid>
      <pubDate>{{ post.date | rfc822_date }}</pubDate>
      <author>{{ post.author }}</author>
      <description><![CDATA[{{ post.body_html | safe }}]]></description>
    </item>
    {% endfor %}
  </channel>
</rss>
